@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
body{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background: #eee;
  color:#666;
}
.login-container{
  height: 100vh;
  width: 100%;
}
.login-form{
  margin: auto;
  width: 370px;
  padding: 15px;
  max-width: 100%;
}
.login-form .form-control{
  font-size: 15px;
  min-height: 48px;
  font-weight: 500;
}
.login-form a{
  text-decoration: none;
  color:#666;
}
.login-form a:hover{
  color:#723dbe;
}
.forgot-link{
  font-size: 13px;
}

.form-control:focus{
  border-color:#723dbe;
  box-shadow: 0 0 0 0.2rem rgba(114,61,190,.25);
}
.btn-custom{
  background: #f40605;
  border-color:#f40605;
  color:#fff;
  font-size: 15px;
  font-weight: 600;
  min-height: 48px;
}
.btn-custom:focus,
.btn-custom:hover,
.btn-custom:active,
.btn-custom:active:focus{
  background: #b71311;
  border-color: #b71311;
  color:#fff;
}
.btn-custom:focus{
  box-shadow: 0 0 0 0.2rem rgba(114,61,190,.25);
}

#nav-bar{
  height: 30%;
  width:100%;
  margin-left:0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  background-color: #723dbe;
}
#head-icon{
  height: 20%;
  width:100%;
  margin-left:0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  background-color: #723dbe;
}
#header_icon{
  background:red;
  width: 100%;
  position: absolute;
  margin-left: 30%;
  padding-left: 30%;
}
#login-icon{
  position: absolute;
  padding: 0;
  margin: 0;
}
button.loginbtn{
  padding: 0;
  margin: 0;
  margin-right: 40px;
  margin-top: 3px;
  width: 15px;
  height: 20px;
  font-size: 18px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-color: none;
  outline:none;
  cursor: pointer;
  color: #fff;
  float: right;
}
button.loginbtn:hover,button.loginbtn:active{
  color: skyblue;
}
